# Python
__pycache__/
*.py[cod]
*.so

# Model files
# /models/*

# Ignore everything in the models directory
models/faster_whisper/*
models/llama_tokenizer/*
models/pyannote/*
models/speechbrain_models/*
models/voice_activity_detection/*
models/wav2vec2_base/*

# But don't ignore the .gitkeep files in models and its subdirectories
!models/.gitkeep
!models/*/.gitkeep

# Don't ignore specific configuration files
!models/llama_tokenizer/tokenizer_config.json
!models/llama_tokenizer/special_tokens_map.json

# Virtual environment
.venv/
venv/

# VS Code
.vscode/

# FFmpeg folder (as suggested earlier)
/ffmpeg/*
!/ffmpeg/.gitkeep

# PyInstaller
build/
dist/

# Inno Setup
Output/

# User-specific files
*.log
whisper_gui_settings.json